<ion-view title="Bievenido" id="page16">
  <ion-content padding="true" class="has-header">
    <ion-list id="bievenido-list12">
      <ion-item id="bievenido-list-item35" ui-sref="menu.calendarioCuota()">Calendario/Cuota</ion-item>
      <ion-item id="bievenido-list-item29" ui-sref="menu.examenes()">Resultado de Examenes</ion-item>
      <ion-item id="bievenido-list-item30" ui-sref="menu.resultadoTorneos()">Resultado de Torneos</ion-item>
      <ion-item id="bievenido-list-item31" ui-sref="menu.informes()">Informe Personal</ion-item>
    </ion-list>
  </ion-content>
</ion-view>