<ion-view title="Calendario/Cuota" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="calendarioCuota-list5">
      <ion-item class="item-avatar" id="calendarioCuota-list-item10">
        <h2>Nombre</h2>
        <p>Edad- Nivel</p>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/KPJ2Ft0WT4WPtTff5i1Z_60543245-coloridas-notas-adhesivas-con-meses-calendario-icono-ilustracin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>