<ion-view title="Contacto" id="page19">
  <ion-content padding="true" style="background: url(img/BoiRF4CTZaZeELj5TV7m_1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="contacto-card21">
      <ion-item class="item-avatar" id="contacto-list-item40">
        <img src="img/DNsECIR9Ti6pGmOt9xBy_logo_escuela.jpg">
        <h2>Gimnasia Artistica XR8</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/lrrk5ZSSSbMzHFbAEzCg_IMG-20180323-WA0011.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="contacto-list-item-container2">
        <div id="contacto-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">artisticaxr8@gmail.com</p>

          <p style="color:#000000;">+54 11 4037 5556</p>

          <p style="color:#000000;">Argentina-Caba.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>