<ion-view title="Examenes" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="examenes-list9">
      <ion-item class="item-icon-left" id="examenes-list-item21">
        <i class="icon ion-ios-clock-outline"></i>Año
        <span class="item-note">2018</span>
      </ion-item>
      <ion-item id="examenes-list-item18" ui-sref="menu.fechaExamen1()">Examen 1</ion-item>
      <ion-item id="examenes-list-item19" ui-sref="menu.fechaExamen2()">Examen 2</ion-item>
      <ion-item id="examenes-list-item20" ui-sref="menu.fechaExamen3()">Examen 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>