<ion-view title="Examen" id="page18">
  <ion-content padding="true" class="has-header">
  	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <div id="examen-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-family: 'Raleway', sans-serif;">Apoyamos los examenes de nivel objetivos para la realizacion de Gimnasia Artística. De esta manera se evalua a los/las gimnastas y a nosotros como juntos vamos desarrollando esta actividad.
      Otorgando libretas de exámen donde figura el nivel de cada uno de los gimnastas.</p>

      <pre>
        <code>XR8</code>
      </pre>
    </div>
  </ion-content>
</ion-view>