<ion-view title="Gimnasia Artística" id="page1" style="background-color:#F0E6F0;">
  <ion-content padding="true" style="background: url(img/FJj3g5ITRaG6xRrs7O7g_27973840_852865174884749_302934862353397201_n.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="gimnasiaArtStica-heading1" style="color:#F60D45;font-weight:600;font-style:italic;">Pasión por la Gimnasia</h3>
    <div class="spacer" style="height: 25px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="gimnasiaArtStica-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="gimnasiaArtStica-slide24" style="background:url(&quot;img/mii3gZgVRcypKyfQZtAg_16388093_667541683417100_1771878219291330819_n.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="gimnasiaArtStica-slide25" style="background:url(&quot;img/2xfVAH0mRlWhSlwmh28k_34985227_912915248879741_4826143880229421056_n.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="gimnasiaArtStica-slide26" style="background:url(&quot;img/Iy4W7JlWSNGLctCnR2qD_Sinttulo.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="gimnasiaArtStica-slide21"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="menu.reglamento()" id="gimnasiaArtStica-button9" class="button button-positive button-block">Asociate</a>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="gimnasiaArtStica-button-bar1" class="button-bar">
      <a ui-sref="menu.examen()" id="gimnasiaArtStica-button4" class="button button-royal button-block">Examen</a>
      <a ui-sref="menu.eventos()" id="gimnasiaArtStica-button5" class="button button-royal button-block">Eventos</a>
      <a ui-sref="menu.login()" id="gimnasiaArtStica-button6" style="font-size:18px;" class="button button-royal button-block">Socios</a>
    </div>
  </ion-content>
</ion-view>