<ion-view title="Login" id="page4">
  <ion-content padding="true" style="background: url(img/D3Ew3OO7TLiMs2EwEO6N_14370066_600315750139694_5837512072365166498_n.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.bievenido()" id="login-button7" class="button button-stable button-block">Log in</a>
      <a href-inappbrowser="/signup" id="login-button8" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>