<ion-view title="login juezas" id="page23">
  <ion-content padding="true" style="background: url(img/D3Ew3OO7TLiMs2EwEO6N_14370066_600315750139694_5837512072365166498_n.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="loginJuezas-form4" class="list">
      <ion-list id="loginJuezas-list15">
        <label class="item item-input" id="loginJuezas-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="loginJuezas-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.notasJuezas()" id="loginJuezas-button14" class="button button-stable button-block">Log in</a>
      <a href-inappbrowser="/signup" id="loginJuezas-button15" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>