<ion-view title="Planilla de inscripción" id="page3">
	<ion-content padding="true" class="has-header">
<div id="Planilla de inscripcion-markdown4" class="show-list-numbers-and-dots">
<h1>Completar</h1>

	<div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nombre Padre-Madre</span>
      <input type="text" placeholder="Nombre Padre-Madre">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Apellido </span>
      <input type="text" placeholder="Apellido">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">D.N.I</span>
      <input type="text" placeholder="D.N.I">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
      <input type="text" placeholder="Email">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Telefono Celular</span>
      <input type="text" placeholder="Telefono Celular">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Direccion</span>
      <input type="text" placeholder="Direccion">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nombre Alumno</span>
      <input type="text" placeholder="Nombre Alumno">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Apellido</span>
      <input type="text" placeholder="Apellido">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Fecha de Nacimiento</span>
      <input type="text" placeholder="Fecha de Nacimiento">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Escuela que Asiste</span>
      <input type="text" placeholder="Escuela que Asiste">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Socio: Numero de Socio</span>
      <input type="text" placeholder="Socio: Numero de Socio">
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Algo importante que contarnos</span>
      <input type="text" placeholder="Algo importante que contarnos">
  </label>
</div>
<a ui-sref="menu.planillaDeInscripciN()" id="reglamento-button10" class="button button-assertive button-block">Enviar</a>
    <ion-content padding="true" class="has-header"></ion-content>	
</ion-view> 
