<ion-view title="Reglamento" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="reglamento-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Para un mejor desempeño de la actividad y organización de la misma, tener en cuenta el siguiente Reglamento:</p>

      <p style="color:#000000;"> La cuota se abonara del 1 al 10 de cada mes. Abonando después de dicha fecha se cobrara $ 100 de recargo.</p>

      <pre>
        <code>Si por alguna razón se deja de abonar un mes, para retomar la actividad deberá abonar nuevamente la matricula. 
              Se deberá presentar un certificado médico de aptitud física actualizado, sin excepción. 
              El Carnet de la actividad, se deberá traer todos los días de entrenamiento ya que con él se realiza el ingreso al predio del club y se tomaran los presentes. En caso de pérdida del mismo, la reposición tendrá un costo de $30. 
              Para la participación en Torneos, eventos y exhibiciones en el momento indicado se deberá contar con la indumentaria representativa de la actividad. La cual consiste en: Malla, Remera y Campera representativa. Vestimenta-entrenamientos: para mayor comodidad de los/as gimnastas: De ser posible concurrir con la remera de la actividad, esto nos identificará en el predio del Club.
              Nenas: Malla, o bien top y calza, remera, buzo, zapatillas deportivas y pelo recogido. 
              Nenes: Short y remera, buzo. 
         • Para una comunicación fluida, siempre y ante cualquier duda o consulta acercarse a los Profesores para evacuar inquietudes o hacerlas llegar por cualquiera de nuestras vías de comunicación. 
         • Los Padres podrán presenciar la primer clase para su confianza y seguridad de sus hijos/as, luego por un tema de espacio físico y para un óptimo aprendizaje y atención del gimnasta es conveniente que los papis esperen fuera del recinto de entrenamiento, pueden observar desde las ventanas. 
              Nosotros como profesores y entusiastas del deporte apoyamos el crecimiento de todos los niños que se acercan a realizar la actividad, los acompañaremos para que juntos logremos un rendimiento óptimo y así lograr objetivos.</code>
      </pre>
      <ion-list>
         <ion-checkbox ng-model="filter.blue">He leido el Reglamento</ion-checkbox>
      </ion-list>
    </div>
    <a ui-sref="menu.planillaDeInscripciN()" id="reglamento-button10" class="button button-assertive button-block">Planilla de inscripcion</a>
  </ion-content>
</ion-view>