<ion-view title="Resultado Torneos" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="resultadoTorneos-list11">
      <ion-item id="resultadoTorneos-list-item25" ui-sref="menu.torneoFecha1()">Torneo fecha 1</ion-item>
      <ion-item id="resultadoTorneos-list-item26" ui-sref="menu.torneoFecha2()">Torneo fecha 2</ion-item>
      <ion-item id="resultadoTorneos-list-item27" ui-sref="menu.torneoFecha3()">Torneo fecha 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>